@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

:root {
  --color-bg: #82B3D3;
}

* {
  outline: 2px solid red;
}

html {
  height: 100%;
  background-color: grey;
  /* border: 2px solid red; */
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: grey;
  color: #000000;
  min-height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.logo {
  vertical-align: bottom;
}

.navigation {
  display: flex;
  align-items: center;;
}

.header-logo {
  margin-left: 70px;
  display: block;
  margin-bottom: -4px;
  z-index: 1;
}

.navigation-list {
  padding: 0;
  list-style-type: none;
  max-width: 520px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.navigation-user {
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin-right: 70px;
  margin-left: auto;
  max-width: 350px;
  display: flex;
  align-items: center;
}



.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
  margin: 0;
}

.button {
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.main-index {
  flex-grow: 1;
}

.welcome-background .visually-hidden {
  margin: 0;
}

.welcome-background {
  background-image: url("../images/mountains.jpg");
  background-color: var(--color-bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
}

.welcome-background::after {
  min-height: 57px;
  content: '';
  background-image: url("../images/divider-mountains.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover cover;
  display: block;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.adventages-list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 400px 400px 400px;
}

.adventages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.adventages-list li {
  text-align: center;
}

.adventages-list > li:nth-child(1) {
  background-color: var(--color-bg);
  color: #FFFFFF;
  grid-column: 1 / span 3;
  display: flex;
}

.adventages-list > li:nth-child(2) {
  grid-column: 1 / span 3;

}

.adventages-list > li:nth-child(3) {
  background-color: var(--color-bg);
  color: #FFFFFF;
  grid-column: 1 / span 3;
  display: flex;
}

.adventages-list > li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-list > li:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.2);
}

.adventages-list > li:nth-child(6) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-list-infrastructure {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.adventages-list-infrastructure li {
  flex-basis: 400px;
}

.adventages-list-infrastructure li:nth-child(1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-list-infrastructure li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-description {
  text-align: center;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.offer-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.newsletters {
  background-color: var(--color-bg);
  background-image: url("../images/mountains-background-newsletters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletters-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.newsletters-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.footer-wrap {
  display: flex;
  margin: 40px 70px 30px;
}

.contact {
  flex-basis: 33.3%;
  text-align: center;
}

.contact-social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

.catalog-header {
  background-color: var(--color-bg);
  background-image: url("../images/mountains-background-filters.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs-list{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: flex-start;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.catalog-filters-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog-filters-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.control {
  color: #FFFFFF;
}

.apply {
  background-color: var(--color-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;

}

.reset {
  background: transparent;
  text-transform: none;
}

.catalog-display-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-display-list {
  list-style-type: none;
}

.catalog-display-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

.catalog-display-discription {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.catalog-display-button-selected {
  background-color: #7DB54F;
}

.catalog-display-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-list {
  list-style-type: none;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: var(--color-bg);

}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-item-current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #F2F2F2;
}

.pagination-link.current {
  color:inherit;
}

.newsletters-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.newsletters-catalog-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
