@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2");
  font-display: swap;
}

:root {
  --color-bg: #82B3D3;
}

/* * {
  outline: 2px solid red;
} */

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color:#F2F2F2;
  color: #000000;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.logo {
  vertical-align: bottom;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-left: 70px;
  display: block;
  margin-bottom: -4px;
  z-index: 1;
}

.navigation-list {
  padding: 0;
  list-style-type: none;
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
}

.navigation-user {
  margin: 0;
  list-style-type: none;
  padding: 0;
  margin-right: 70px;
  margin-left: auto;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 20px 17px;
  margin: 0;

}

.navigation-list .navigation-item span {
  position: relative;
}

.navigation-list .navigation-item:hover span::after {
  content: '';
  top: 45px;
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #756257;
}

.navigation-link.search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  padding-right: 12px;
}

.navigation-link.favourites {
  position: relative;
  background-image: url("../images/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  margin-right: 15px;
  padding-left: 12px;
}

.favourites-count {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 17px;
  top: 2px;
  border-radius: 50%;
  background-color: rgba(125, 181, 79, 1);
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
}

.navigation-item .button {
  display: block;
  width: 160px;
}

.navigation-item .button:hover,
.offer-button:hover,
.catalog-display-button:hover {
  background-color: #615048;
}

.navigation-item .button:active,
.offer-button:active,
.catalog-display-button:active,
.catalog-display-button-selected:active,
.apply:active {
  color: rgba(255, 255, 255, 0.3);
}

.apply:hover,
.button.in-fav:hover {
  background-color: #68A2CA;
}

.button {
  background-color: #756157;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 9px 15px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.button:disabled {
  background-color:#E5E5E5;
}

.button:focus {
  outline: none;
}

.want-here:focus,
.offer-button:focus,
.catalog-display-button:focus {
  outline: none;
  background-color: #615048;
}

.newsletters-form-button:focus,
.apply:focus,
.catalog-display-button.in-fav:focus {
  background-color: #68A2CA;
}

.catalog-display-button-selected:focus {
  background-color: #6C9E42;
}

.main-index {
  flex-grow: 1;
}

.main-catalog {
  flex-grow: 1;
}

.welcome-background img {
  display: block;
  padding-top: 51px;
  padding-bottom: 26px;
  margin: 0 auto;
}

.welcome-background {
  background-image: url("../images/mountains.jpg");
  background-color: #3F5E72;;
  background-size: auto;
  background-repeat: no-repeat;
}

.welcome-background::after {
  min-height: 57px;
  content: '';
  background-image: url("../images/divider-mountains.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover cover;
  display: block;
}

.welcome-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 63px 290px 31px;
}

.welcome-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding-bottom: 90px;
}

.adventages-list {
  list-style-type: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
}

.adventages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 92px 109px 30px;
}

.adventages-description-num {
  display: block;
  padding-bottom: 30px;
}

.adventages-description {
  display: block;
  margin: 0;
  padding: 0 85px 92px;
}

.adventages-list-infrastructure .adventages-title {
  padding-top: 182px;
}

.adventages-list-infrastructure .adventages-description {
  padding-bottom: 81px;
}

.adventages-list li {
  text-align: center;
}

.adventages-list > li:nth-child(1) {
  background-color: var(--color-bg);
  color: #FFFFFF;
  grid-column: 1 / span 3;
  display: flex;
}

.adventages-list > li:nth-child(2) {
  grid-column: 1 / span 3;

}

.adventages-list > li:nth-child(3) {
  background-color: var(--color-bg);
  color: #FFFFFF;
  grid-column: 1 / span 3;
  display: flex;
}

.adventages-list > li:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-list > li:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.2);
}

.adventages-list > li:nth-child(6) {
  background-color: rgba(131, 179, 211, 0.12);
}

.adventages-list-infrastructure {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.adventages-list-infrastructure li {
  flex-basis: 400px;
}

.adventages-item.accommodation {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: 162px 80px;
  background-size: 75px 72px;
}

.adventages-item.eat {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-size: 70px 74px;
  background-position: 162px 81px;
}

.adventages-item.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-size: 64px 76px;
  background-position: 168px 78px;

}

.adventages-description {
  text-align: center;
}

.adventages-item-img {
  height: 100%;
  object-fit: cover;
}

.offer {
  padding-bottom: 93px;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 91px 0 29px;
}

.offer-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0 304px 56px;
}

.offer-button {
  display: block;
  padding: 12px 0;
  margin: 0 313px;
  text-align: center;
  border-radius: 4px;
}

.newsletters {
  background-color: var(--color-bg);
  background-image: url("../images/mountains-background-newsletters.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletters-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 29px;
}

.newsletters-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0 362px 46px;
}

.newsletters-form {
  text-align: center;
  padding-bottom: 94px;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 449px 331px 420px;

}

.contact-site-link {
  display: block;
  margin: 49px 70px 0 235px;
}

.contact-social-list {
  list-style-type: none;
  width: 200px;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 45px 186px 0 70px;
  justify-content: flex-start;
}

.contact-social-link {
  display: block;
  width: 47px;
  height: 40px;
  position: relative;
}

.contact-social-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.contact-social-link:hover .contact-social-link-icon,
.contact-social-link:focus .contact-social-link-icon{
  fill: #68A2CA;
}

.contact-social-link:active .contact-social-link-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.contact-social-link:focus,
.contact-phone:focus,
.contact-site-link:focus {
  outline: none;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 45px 0 35px;
}

.contact-phone:hover,
.contact-phone:focus {
  color: #756157;
}

.contact-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contact-site-link:hover .contact-site-img,
.contact-site-link:focus .contact-site-img {
  fill:#756157;
}

.contact-site-link:active .contact-site-img {
  fill:rgba(117, 97, 87, 0.3);
}

.catalog-header {
  background-color: var(--color-bg);
  background-image: url("../images/mountains-background-filters.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  padding-top: 35px;
  padding-left: 70px;
}

.breadcrumbs-list{
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  padding-left: 72px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: block;
  text-align: center;
}

.breadcrumbs-link.main {
  display: block;
  height: 100%;
  margin-right: 25px;
  position: relative;
}

.breadcrumbs-link.icon {
  padding-top: 5px;
}

 .breadcrumbs-link:hover {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  fill: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 6px;
  height: 8px;
  background-image: url("../images/side-arrow.svg");
  background-repeat: no-repeat;
  background-size: 6px 6px;
  background-position: center center;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.catalog-filters {
  padding: 40px 70px 70px;
}

.catalog-filters-form {
  display: grid;
  grid-template-columns: 220px 320px 1fr 1fr;
}

.catalog-filters-group {
  padding: 0;
  margin: 0;
  border:0 none;
}

.catalog-filters-group.range{
  display: flex;
  width: 518px;
  justify-content: space-between;
}

.catalog-filters-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filters-list li:last-child {
  margin-bottom: 0;
}

.catalog-filters-title {
  font-weight: 700;
  padding: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
}

.catalog-filters-item {
  margin-bottom: 15px;
}

.button-wrap {
  display: flex;
  flex-direction: column;
}
.control {
  color: #FFFFFF;
  display: flex;
}

.control:hover .control-mark.checkbox,
.control:active .control-mark.checkbox {
  background-color: rgba(255, 255, 255, 0.6);
}
/* .control:focus .control-mark {
  border: 3px solid #83B3D3;
} */

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-input[type="radio"]:focus {
  outline: 3px solid #83B3D3;
}

.control-input[type="checkbox"]:checked + .control-mark.checkbox {
  background-image: url("../images/check-button.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.control-mark.checkbox {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-right: 19px;
}

.control-mark.radio {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 19px;
  position: relative;
}

.control-input[type="radio"]:checked + .control-mark.radio::after {
  position:absolute;
  content: "";
  top: 25%;
  left: 25%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3F5E72;
}

.range-price {
  display: flex;
  margin-bottom: 32px;
  position: relative;
}

.range-label-wrap {
  /* display: flex; */
  border: 2px solid #FFFFFF;

}

.range-label-wrap span {
  position: absolute;
}

.range-label-wrap.min {
  border-radius: 4px 0 0 4px;
}

.range-label-wrap.min span {
  top: 14px;
  left: 112px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-label-wrap.max span {
  top: 14px;
  right: 17px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.3;
}

.range-label-wrap.max {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.range-input {
  border: none;
  padding: 14px 0;
  padding-left: 19px;
  background-color: transparent;
  width: 124px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color:rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: rgba(255, 255, 255);
}

.range-button {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;

}

.range-button-min {
  top: -8px;
  left: 0px;
}

.range-button-max {
  top: -8px;
  right: -10px;
}

.apply {
  background-color: var(--color-bg);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  padding: 14px;
  width: 160px;
}

.reset {
  background: transparent;
  text-transform: none;
  border-radius: 4px;
  font-weight: 400;
}

.reset:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

.reset:active {
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-display {
  padding-bottom: 25px;
}

.catalog-display-wrap {
  display: flex;
  padding-left: 72px;
  padding-top: 57px;
  padding-bottom: 60px;
  align-items:center;
}

.button-display-icon {
  padding: 17px 16px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-display-icon:hover {
  outline: 2px solid #000000;
}

.button-display-icon:focus {
  outline: none;
  box-shadow: none;
  outline: 2px solid #000000;
}

.button-display-icon:active {
  outline: 2px solid #000000;
}

.button-display-icon.current {
  outline: 2px solid #000000;
}

.catalog-display-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-right: 191px;
}

.select-control-filter {
  width: 290px;
  padding: 14px 40px 14px 20px;
  margin-right: 71px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  font: inherit;
  color: #333333;
  font-weight: 400;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control-output {
  margin-left: 51px;
  width: 160px;
  padding: 14px 100px 14px 20px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  font: inherit;
  color: #333333;
  font-weight: 400;
  background-image: url("../images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-title {
  color:#333333;
}

.button-display-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.button-display {
  display: block;
}

.catalog-display-list {
  position:relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 72px 96px;
  column-gap: 18px;
}

.catalog-display-list::after {
  content: "";
  position: absolute;
  width: 100%;
  border: 1px solid #E6E6E6;
  bottom: -66px;
}

.catalog-display-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px;
  grid-column-gap: 20px;
}

.catalog-display-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: black;
  grid-column: 1 / -1;
  align-self: center;
}

.catalog-display-title {
  margin: 0;
  padding: 16px 0;
}

.catalog-display-discription {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-bottom: 16px;
}

.catalog-display-button {
  margin-bottom: 16px;
  border-radius: 4px;
}

.catalog-display-button.in-fav {
  background-color: #82B3D3;
}

.catalog-display-button-selected {
  background-color: #7DB54F;
  margin-bottom: 16px;
  border-radius: 4px;
}

.catalog-display-button-selected:hover {
  background-color: #6C9E42;
}

.catalog-display-stars {
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  background-image: url("../images/star.svg");
  background-repeat: space no-repeat;
  background-position: 0 center;
}

.catalog-display-item:nth-child(1) .catalog-display-stars,
.catalog-display-item:nth-child(2) .catalog-display-stars {
  width: 89px;
}

.catalog-display-item:nth-child(3) .catalog-display-stars {
  width: 66px;
}

.catalog-display-item:nth-child(4) .catalog-display-stars {
  width: 42px;
}

.catalog-display-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  display: block;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.pagination-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-left: 73px;
  margin-right: 71px;
  align-items:center;
}

.pagination-wrap::before {
  position: absolute;
  content: '';
  border: 1px solid #E6E6E6;
}

.pagination-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: var(--color-bg);
  width: 60px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
}

.pagination-item.current {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  background-color: #F2F2F2;
  width: 60px;
  margin-right: 8px;
  border-radius: 4px;
}

.pagination-item:not(.current):hover,
.pagination-item:not(.current) .pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-item:not(.current):active .pagination-link {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:focus {
  outline: none;
}
.pagination-list li:last-child {
  margin-right: 0;
}

.pagination-link.current {
  color:inherit;
}

.pagination-link {
  display: block;
  padding: 12px 0;
}



.newsletters-catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  padding-top: 94px;
  padding-bottom: 29px;
  margin: 0;
}

.newsletters-catalog-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin: 0 auto;
  width: 476px;
  padding-bottom: 46px;
}

.newsletters-form {
  display: flex;
  justify-content: center;
}
.newsletters-form-email {
  padding: 20px 0 20px 22px;
  width: 600px;
  border: none;
  border-radius: 10px 0px 0px 10px;
  font: inherit;
}

.newsletters-form-email::placeholder {
  color: #000000;
  opacity: 0.6;
}

.newsletters-form-button {
  padding: 20px 0;
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  background-color: #82B3D3;
  font-family: inherit;
  font-weight: 700;
}

.newsletters-form-button:hover {
  background-color: #68A2CA;
}

.newsletters-form-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.newsletters-catalog .newsletters-form-email {
  background-color: #F2F2F2;;
}

.booking-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.booking-window {
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  margin: auto;
  padding: 62px 70px 70px 70px;
  transition: 0.5s;
  transform: translateY(-210%);
}

.booking-window-close {
  position: absolute;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  right: 70px;
  top: 54px;
}

.booking-window-close:hover {
  background-color: #E6E6E6;
}
.booking-window-close:focus {
  outline: 3px solid #83B3D3;
}

.booking-window-close-icon {
  display: block;
  margin: auto auto;
}

.booking-window-close:active .booking-window-close-icon {
  opacity: 0.3;
}

.booking-window-close:active {
  outline: none;
}

.booking-content-title {
  margin: 0;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 63px;
}

.form-field-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  color: #000000;

}

.form-field-check-in-information {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 11px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  grid-column: 2 / -1;
}

.form-field-check-out-information {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 11px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  grid-column: 2 / -1;
}


.booking-form {
  position: relative;
  display: grid;
  grid-template-columns: 155px 133px 56px 97px 134px;
}

.form-field-input[id="check-in"],
.form-field-input[id="check-out"] {
  grid-column: 2 / -1;

}

.booking-form-button-additional {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.3;
}

.booking-form-button-additional:hover {
  opacity: 1;
}

.booking-form-button-additional:focus {
  outline: none;
  border-radius: 4px;
  outline: 3px solid #83B3D3;
  opacity: 1;
}

.booking-form-button-additional:active {
  outline: none;
  border-radius: 0;
  opacity: 0.3;
}

.calendar {
  background-image: url("../images/calendar.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.calendar.check-in {
  right: 19px;
  top: 18px;
}

.calendar.check-out {
  right: 19px;
  top: 108px;
}

.count-minus {
  background-image: url("../images/minus-modal.svg");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3;
}

.booking-form-button-additional:hover .form-field-input {
  background-color: #E6E6E6;
}

.count-minus.adult {
  left: 174px;
  top: 197px;
}

.count-minus.child {
  left: 460px;
  top: 197px;
}

.count-plus {
  background-image: url("../images/plus-modal.svg");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.3;
}

.count-plus.adult {
  left: 256px;
  top: 197px;
}

.count-plus.child {
  left: 542px;
  top: 197px;
}

.form-field-input {
  padding: 15px 19px 14px 19px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.form-field-input:hover {
  background-color: #E6E6E6;
}

.form-field-input:focus {
  outline: none;
  outline: 3px solid #83B3D3;
}

.form-field-input:active {
  outline:2px solid #000000;;
}

.form-field-input::placeholder {
  color: #000000;
}

.form-field-description {
  padding-top: 12px;
}

.form-field-description[for="check-out"] {
  grid-column: 1 / 2;
}

.form-field-description[for="child-count"] {
  grid-column: 4 / 5;
}

.booking-form-button {
  margin-top: 40px;
  padding: 12px 26px;
  grid-column: 1 / -1;
  background: #83B3D3;
  border-radius: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.booking-form-button:hover {
  background-color: #68A2CA;
}
.booking-form-button:focus {
  outline: none;
  background-color: #68A2CA;
  outline: 3px solid #756257;
}
.booking-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}


.form-field-input.count {
  position: relative;
  text-align: center;
  padding: 15px 40px 14px 40px;
}

.form-field-input.count::-webkit-outer-spin-button,
.form-field-input.count::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.information-button {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  background-color: #83B3D3;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center center;
  left: 398px;
  top: 194px;
  cursor: pointer;
}

.information-button:hover + .information-button-text,
.information-button:active + .information-button-text {
  display: block;
}

.information-button-text {
  position: absolute;
  width: 220px;
  padding: 15px 18px 23px 22px;
  left: 283px;
  top: 234px;
  background-color: #333333;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  display: none;
}

.information-button:hover {
  background-color: #68A2CA;
}

.information-button:focus {
  outline: none;
  border: none;
}

.information-button-text::before {
  content:"";
  position: absolute;
  top: -9px;
  left: 119px;
  width: 19px;
  height: 9px;
  background-image: url("../images/tooltip-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.booking-container.booking-container-close {
  display: none;
}
